h1 {
    font-family: 'pixelout', sans-serif;
    font-size: clamp(3.5rem, 5vw, 7rem);
    margin: 0;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient-shift 5s ease infinite;
    background-size: 300% auto;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }
@font-face {
    font-family: 'pixelout';
    src: url('/fonts/pixelout.ttf');
    font-display: swap;
  }
